<div class="container-fluid mt-lg-3">
  <div class="d-flex justify-content-center align-items-center">
    <p class="fs-3 text-uppercase">Trends</p>
  </div>
  <div class="line"></div>
  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
    <mat-tab label="All">
      <mat-grid-list cols="4" rowHeight="1:1" gutterSize="10px">
        <mat-grid-tile>
          <mat-card class="border-1 border-danger mr-2 zoom-card">
            <mat-card-content>
              <img
                src="../../../assets/trends/men-t-shirts.jpg?v={{ timestamp }}"
                class="w-100 h-200"
              />
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-card class="border-1 border-danger mr-2 zoom-card">
            <mat-card-content>
              <img
                src="../../../assets/trends/women-t-shirts.jpg?v={{
                  timestamp
                }}"
                class="w-100 h-200"
              />
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-card class="border-1 border-danger mr-2 zoom-card">
            <mat-card-content>
              <img
                src="../../../assets/trends/boys-t-shirts.jpg?v={{ timestamp }}"
                class="w-100 h-200"
              />
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-card class="border-1 border-danger mr-2 zoom-card">
            <mat-card-content>
              <img
                src="../../../assets/trends/girls-t-shirts.jpg?v={{
                  timestamp
                }}"
                class="w-100 h-200"
              />
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-tab>
    <mat-tab label="MEN">
      <mat-grid-list cols="4" rowHeight="1:1" gutterSize="10px">
        <mat-grid-tile>
          <mat-card class="border-1 border-danger mr-2 zoom-card">
            <mat-card-content>
              <img
                src="../../../assets/men/t-shirt.jpg?v={{ timestamp }}"
                class="w-100 h-200"
              />
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-card class="border-1 border-danger mr-2 zoom-card">
            <mat-card-content>
              <img
                src="../../../assets/men/shirt.jpg?v={{ timestamp }}"
                class="w-100 h-200"
              />
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-card class="border-1 border-danger mr-2 zoom-card">
            <mat-card-content>
              <img
                src="../../../assets/men/pant.jpg?v={{ timestamp }}"
                class="w-100 h-200"
              />
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-card class="border-1 border-danger mr-2 zoom-card">
            <mat-card-content>
              <img
                src="../../../assets/men/suit.jpg?v={{ timestamp }}"
                class="w-100 h-200"
              />
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-tab>
    <mat-tab label="WOMEN">
      <mat-grid-list cols="4" rowHeight="1:1" gutterSize="10px">
        <mat-grid-tile>
          <mat-card class="border-1 border-danger mr-2 zoom-card">
            <mat-card-content>
              <img
                src="../../../assets/women/dress.jpg?v={{ timestamp }}"
                class="w-100 h-200"
              />
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-card class="border-1 border-danger mr-2 zoom-card">
            <mat-card-content>
              <img
                src="../../../assets/women/western.jpg?v={{ timestamp }}"
                class="w-100 h-200"
              />
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-card class="border-1 border-danger mr-2 zoom-card">
            <mat-card-content>
              <img
                src="../../../assets/women/saree.jpg?v={{ timestamp }}"
                class="w-100 h-200"
              />
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-card class="border-1 border-danger mr-2 zoom-card">
            <mat-card-content>
              <img
                src="../../../assets/women/mini.jpg?v={{ timestamp }}"
                class="w-100 h-200"
              />
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-tab>
    <mat-tab label="KIDS">
      <mat-grid-list cols="4" rowHeight="1:1" gutterSize="10px">
        <mat-grid-tile>
          <mat-card class="border-1 border-danger mr-2 zoom-card">
            <mat-card-content>
              <img
                src="../../../assets/kids/kid1.jpg?v={{ timestamp }}"
                class="w-100 h-200"
              />
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-card class="border-1 border-danger mr-2 zoom-card">
            <mat-card-content>
              <img
                src="../../../assets/kids/kid2.jpg?v={{ timestamp }}"
                class="w-100 h-200"
              />
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-card class="border-1 border-danger mr-2 zoom-card">
            <mat-card-content>
              <img
                src="../../../assets/kids/kid3.jpg?v={{ timestamp }}"
                class="w-100 h-200"
              />
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-card class="border-1 border-danger mr-2 zoom-card">
            <mat-card-content>
              <img
                src="../../../assets/kids/kid4.jpg?v={{ timestamp }}"
                class="w-100 h-200"
              />
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-tab>
  </mat-tab-group>
</div>
