<mat-drawer-container class="admin-container" autosize="true">
  <mat-drawer class="admin-sidenav" mode="side" #drawer opened>
    <div class="d-flex justify-content-center align-items-center">
      <h5 fw-bold>{{ user }}</h5>
    </div>
    <div class="d-flex justify-content-center align-items-center">
      <h6>Admin</h6>
    </div>
  </mat-drawer>
  <mat-drawer-content class="admin-sidenav-content">
    <button (click)="drawer.toggle()" mat-icon-button color="warn">
      <mat-icon class="menuItem">menu</mat-icon>
    </button>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
