:root{
    --box-shadow:1px 1px 3px 1px #746f6f;
    --myprimary:#dc3545;
}
html, body { height: 100%; }
*, body { margin: 0; font-family: "poppins", sans-serif; }
/* .success-snackbar{
background-color: green;
color: #fff;
}
.error-snackbar{
    background-color: #dc3545;
    color: #fff;
} */
.mat-mdc-snack-bar-container{
    &.error-snackbar{
        --mdc-snackbar-container-color:#ac0e0e !important;
        --mdc-snackbar-supporting-text-color:#fff !important
    }
}
.mat-mdc-snack-bar-container{
    &.success-snackbar{
        --mdc-snackbar-container-color:#218503 !important;
        --mdc-snackbar-supporting-text-color:#fff !important;
    }
}