<div class="container-fluid bg-danger">
  <div class="row p-3">
    <div class="col-md-3 mr-2 mb-2">
      <img
        src="../../../assets/brands/b1.png?v={{ timestamp }}"
        class="w-100 h-100"
      />
    </div>
    <div class="col-md-3 mr-2 mb-2">
      <img
        src="../../../assets/brands/b2.png?v= {{ timestamp }}"
        class="w-100 h-100"
      />
    </div>
    <div class="col-md-3 mr-2 mb-2">
      <img
        src="../../../assets/brands/b3.png?v= {{ timestamp }}"
        class="w-100 h-100"
      />
    </div>
    <div class="col-md-3 mr-2 mb-2">
      <img
        src="../../../assets/brands/b4.png?v= {{ timestamp }}"
        class="w-100 h-100"
      />
    </div>
  </div>
</div>
